<launch>

    <!-- what config we are going to run (should match folder name) -->
    <arg name="verbosity"   default="DEBUG" /> <!-- ALL, DEBUG, INFO, WARNING, ERROR, SILENT -->
    <arg name="config"      default="bee" /> <!-- euroc_mav, tum_vi, rpng_aruco, kaist -->
    <arg name="config_path" default="$(find ov_msckf)/../config/$(arg config)/estimator_config.yaml" />

    <!-- mono or stereo and what ros bag to play -->
    <arg name="max_cameras" default="1" />
    <arg name="use_stereo"  default="false" />
    <arg name="bag_start"   default="0" /> <!-- v1-2: 0, mh1: 40, mh2: 35, mh3: 17.5, mh4-5: 15 -->
    <arg name="dataset"     default="V1_02_medium" /> <!-- V1_01_easy, V1_02_medium, V1_03_difficult, V2_02_medium, dataset-room1_512_16 -->
    <!-- <arg name="bag"         default="/media/patrick/RPNG FLASH 3/$(arg config)/$(arg dataset).bag" /> -->
    <!-- <arg name="bag"         default="/home/astrib/workspace/bags/hang1/cam_imu.bag" /> -->
    <!-- <arg name="bag"         default="/home/astrib/workspace/bags/hang_shift/cam_imu.bag" /> -->
    <!-- <arg name="bag"         default="/home/astrib/workspace/bags/over_board/cam_imu.bag" /> -->
    <!-- <arg name="bag"         default="/home/astrib/workspace/bags/around_room/cam_imu.bag" /> -->
    <!-- not working -->
    <!-- <arg name="bag"         default="/home/astrib/workspace/bags/dark/cam_imu.bag" /> -->
    <!-- <arg name="bag"         default="/home/astrib/workspace/bags/roll/cam_imu.bag" /> -->
    <!-- <arg name="bag"         default="/home/astrib/workspace/bags/roll2/cam_imu.bag" /> -->

    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee1/flights/around_room/cam_imu.bag" /> -->
    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee2/flights/dark/cam_imu.bag" /> -->

    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee2/flights/2023-06-03T213128/cam_imu_gps.bag" /> -->
    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee2/flights/2023-06-03T224602/cam_imu_gps.bag" /> -->
    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee2/flights/2023-06-04T112718_drift/cam_imu_gps.bag" /> -->
    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee2/flights/cross/cam_imu.bag" /> -->

    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee2/flights/dark/cam_imu.bag" /> -->

    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee2/flights/dark2/cam_imu.bag" /> -->
    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee2/flights/glasha6_day_exp500/cam_imu.bag" /> -->

    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee5/flights/2023-06-06T225248/cam_imu_gps.bag" /> -->

    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee5/flights/2023-06-06T225537/cam_imu_gps.bag" /> -->

    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee5/flights/2023-06-07T000736_zupt_bad/cam_imu_gps.bag" /> -->
    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee5/flights/2023-06-07T001111/cam_imu_gps.bag" /> -->
    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee5/flights/2023-06-07T001408/cam_imu_gps.bag" /> -->
    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee5/flights/2023-06-07T001408/cam_imu_gps.bag" /> -->
     <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee5/flights/2023-06-07T001606/cam_imu_gps.bag" /> -->
    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee5/flights/2023-06-08T181215/cam_imu_gps.bag" /> -->
    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee5/flights/2023-06-08T181921_circle_good/cam_imu_gps.bag" /> -->
 
    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee5/flights/2023-06-08T182442_good_bad_at_end/cam_imu_gps.bag" /> -->
    
    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee5/flights/2023-06-08T182910/cam_imu_gps.bag" /> -->
    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee5/flights/2023-06-08T183022_good/cam_imu_gps.bag" /> -->
    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee5/flights/2023-06-08T183424_f_bad/cam_imu_gps.bag" /> -->
    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee5/flights/2023-06-08T185319_f_good/cam_imu_gps.bag" /> -->
 
    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee5/flights/2023-06-08T185607_f_exc/cam_imu_gps.bag" /> -->
    
    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee5/flights/2023-06-08T185859_avg/cam_imu_gps.bag" /> -->
    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee5/flights/2023-06-08T190124_exc/cam_imu_gps.bag" /> -->
    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee5/flights/2023-06-08T190420_exc_long/cam_imu_gps.bag" /> -->
    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee5/flights/2023-06-08T190420_exc_long/cam_imu_gps.bag" /> -->
    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee5/flights/2023-06-08T190942_avg_long/cam_imu_gps.bag" /> -->
    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee5/flights/2023-06-08T191341_avg_long/cam_imu_gps.bag" /> -->

    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee5/flights/2023-06-08T191626_bad/cam_imu_gps.bag" /> -->

    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee2/flights/dark2/cam_imu.bag" /> -->


    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee5/flights/2023-06-12T173408/cam_imu_gps.bag" /> -->
    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee5/flights/2023-06-12T174211/cam_imu_gps.bag" /> -->
    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee5/flights/2023-06-12T174347/cam_imu_gps.bag" /> -->
 
    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee5/flights/2023-06-14T094138/cam_imu_gps.bag" /> -->
    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee5/flights/2023-06-14T094520/cam_imu_gps.bag" /> -->
    <!-- <arg name="bag"         default="/media/astrib/713B-10FD/bags/flights/2023-08-18T002949/cam_imu_vins.bag" /> -->

    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee5/flights/2023-06-14T095029/cam_imu_gps.bag-" /> -->
    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee5/flights/2023-06-14T095715/cam_imu_gps.bag+" /> -->
   <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee5/flights/2023-06-14T095958/cam_imu_gps.bag-" /> -->
   <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee5/flights/2023-06-14T100324/cam_imu_gps.bag" /> -->
    <!-- <arg name="bag"         default="/home/astrib/bees/bags/bee5/flights/2023-06-14T100542/cam_imu_gps.bag-" /> -->


    <!-- <arg name="bag"         default="/media/astrib/APACER1T/bags/flights/2023-08-18/2023-08-18T002949/cam_imu_vins.bag" /> -->
    <!-- <arg name="bag"         default="/media/astrib/APACER1T/bags/flights/2023-08-16/bad/2023-08-16T094747/cam_imu_vins.bag" /> -->

    <!-- <arg name="bag"         default="/media/astrib/APACER1T/bags/flights/2023-08-23/2023-08-22T225534/cam_imu_vins.bag" /> -->
    <!-- <arg name="bag"         default="/media/astrib/APACER1T/bags/flights/2023-08-23/2023-08-22T230249/cam_imu_vins.bag" /> -->
    <!-- <arg name="bag"         default="/media/astrib/APACER1T/bags/flights/2023-08-23/2023-08-22T230249/cam_imu_vins.bag" /> -->
    <arg name="bag"         default="/media/astrib/APACER1T/bags/flights/2023-08-23/2023-08-22T224958/cam_imu_vins.bag" />

    <!-- <arg name="bag"         default="/datasets/$(arg config)/$(arg dataset).bag" /> -->

    <!-- saving trajectory path and timing information -->
    <arg name="dosave"      default="false" />
    <arg name="dotime"      default="false" />
    <arg name="path_est"    default="/tmp/traj_estimate.txt" />
    <arg name="path_time"   default="/tmp/traj_timing.txt" />

    <!-- if we should viz the groundtruth -->
    <arg name="dolivetraj"  default="false" />
    <arg name="path_gt"     default="$(find ov_data)/$(arg config)/$(arg dataset).txt" />


    <!-- MASTER NODE! -->
<!--    <node name="ov_msckf" pkg="ov_msckf" type="ros1_serial_msckf" output="screen" clear_params="true" required="true" launch-prefix="gdb -ex run &#45;&#45;args">-->
    <node name="ov_msckf" pkg="ov_msckf" type="bee_offline" output="screen" clear_params="true" required="true">

        <param name="topic_imu"      type="string" value="/mavros/imu/data_raw" />
        <param name="topic_camera0"  type="string" value="/usb_cam/image_raw" />

        <!-- bag parameters -->
        <param name="path_bag"                 type="str"    value="$(arg bag)" />
        <param name="bag_start"                type="double" value="$(arg bag_start)" />
        <param name="bag_durr"                 type="int"    value="-1" />

        <!-- master configuration object -->
        <param name="verbosity"                 type="str"    value="$(arg verbosity)" />
        <param name="config_path"               type="str"    value="$(arg config_path)" />

        <!-- world/filter parameters -->
        <param name="use_stereo"                type="bool"   value="$(arg use_stereo)" />
        <param name="max_cameras"               type="int"    value="$(arg max_cameras)" />

        <!-- timing statistics recording -->
        <param name="record_timing_information" type="bool"   value="$(arg dotime)" />
        <param name="record_timing_filepath"    type="str"    value="$(arg path_time)" />

    </node>

    <!-- record the trajectory if enabled -->
    <group if="$(arg dosave)">
        <node name="recorder_estimate" pkg="ov_eval" type="pose_to_file" output="screen" required="true">
            <param name="topic"      type="str" value="/ov_msckf/poseimu" />
            <param name="topic_type" type="str" value="PoseWithCovarianceStamped" />
            <param name="output"     type="str" value="$(arg path_est)" />
        </node>
    </group>

    <!-- path viz of aligned gt -->
    <group if="$(arg dolivetraj)">
        <node name="live_align_trajectory" pkg="ov_eval" type="live_align_trajectory" output="log" clear_params="true">
            <param name="alignment_type" type="str" value="posyaw" />
            <param name="path_gt"        type="str" value="$(arg path_gt)" />
        </node>
    </group>


</launch>